.slider-container{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.slide-data-container{
    width: max-content;
    margin: auto auto;
}

.slide-image{
    height: 100vh;
    float: right;
}

.slide-title{
    font-size: 120px;
    font-family: Cera Pro, serif;
    margin: 25px 0;
}

.slide-data-text{
    font-size: 32px;
}

.slide-data-container button{
    background-color: #CB4F19;
    padding: 25px 60px;
    border-radius: 10px;
    border-color: #CB4F19;
    font-size: 16px;
    margin-top: 75px;
}

.slide-navigation{
    margin: 80vh auto 3.5vh auto;
    width: max-content;
}

.header-slide-button{
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin: 10px;
    border-color: white;
}

.header-slide-button:hover{
    width: 15px;
    height: 15px;
    margin: 7px;
}

.event-container1{
    display: flex;
    width: 100vw;
    height: 50vh;
}

.event-container1 .event{
    width: 50vw;
    height: 50vh;
}

.event-container1 .event-img{
    position: absolute;
    width: 50vw;
    height: 50vh;
    z-index: -1;
}

.event-container1 .event-data-container{
    margin: 35vh 0;
    width: max-content;
    padding: 10px;
}

.event-container1 .event-title{
    font-size: 32px;
    padding: 0 0 30px 0;
}

.event-container1 .event-data{
    font-size: 16px;
}

.event-container2{
    display: flex;
    width: 100vw;
    height: 50vh;
}

.event-container2 .event{
    width: 33vw;
    height: 33vh;
}

.event-container2 .event-img{
    position: absolute;
    width: 33vw;
    height: 50vh;
    z-index: -1;
}

.event-container2 .event-data-container{
    margin: 35vh 0;
    width: max-content;
    padding: 10px;
}

.event-container2 .event-title{
    font-size: 32px;
    padding: 0 0 30px 0;
}

.event-container2 .event-data{
    font-size: 16px;
}

.popular-products{
    margin: 20vh 0;
    width: 100vw;
    height: 100vh;
}

.popular-product-navigation{
    display: flex;
    width: 100vw;
}

.popular-product-button{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.0);
    margin-top: 10px;
    font-size: 25px;
}

.popular-products-behind{
    margin-left: 60%;
}

.popular-product-title{
    font-size: 60px;
}

.popular-products-container-list{
    width: min-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.product{
    background-color: #14191B;
    padding: 50px 30px;
    margin: 50px 0.5vw;
    width: 20vw;
}

.product-img{
    width: 20vw;
}